@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<script src="~/js/site/dashboard.js"></script>

 <div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
               
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="page-header-toolbar">
            <input class="daterange" ty-*pe="text" name="daterange" value=" " />

        </div>
    </div>
</div>
<div id="partialChart">
   
</div>

